/* Home Landing Page */
div.LandingPage{
    box-shadow: 0 0 10px rgb(232 234 237 / 50%);
    background-color: #fff;
    border: 1px solid #ededed;
    padding: 30px;
    margin-bottom: 20px;
    overflow: hidden;
}
